/* *{
    color: #fff;
}*/
body{
    background-color:#262323;
}

header nav a:hover{
    background-color: #3d028f;
}

.navegacao{
    margin-left: auto;
    padding-left: auto;
}

.pesquisa{
    width: 50%;
}

.cart{
    color: #fff;
}

.nft{
    width: 250px;
    height: 250px;
    border-radius: 20px;
}
.adicionar{
    width: 60px;
    height: 30px;
    border-radius: 4px;
    border: none;
    background-color: rgb(188, 189, 192);
    align-items: center;
    font-weight: 500;
}
.adicionar:hover{
    background-color: rgb(119, 125, 148);
}

.criadorEsq{
    color: #808080;
    font-size: small;
}
.divnft{
    background-color: white;
    width: 250px;
    height: 350px;
    border-radius: 20px;
}
.nomeCriador{
    font-size: 13px;
}
.bit{
    width: 25px;
    height: 25px;
}

.criador{
    display: inline-block;
}
.divnft-2{
    background-color: white;
    width: 250px;
    height: 290px;
    border-radius: 20px;
}

.nft-criadores{
    width: 250px;
    height: 120px;
    border-radius: 20px;
}
.icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.rodape{
    padding: 10px 10px 10px 10px;
    display: inline-block;
    width: 45%;
    text-align: center;
    vertical-align: top;
}
.div-color{
    background-color: #160133;
    color:  #262323;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}

.icones img{
    width: 20px;
    display: inline;
}

.midia{
    color: #262323;
    font-size: 20px;
}


